[2016-05-31 08:38] Naramsim opened #1 "Handle calendar rewriting"
when someone click on _repositories_ then to _contributions_ the calendar is rewritten, but the streak not

[2016-05-31 10:13] #1 closed

[2016-06-02 15:12] Naramsim opened #2 "ES6"

[2016-06-06 20:21] sarbbottam commented on #2
ES6 [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) will be super useful.

[2016-06-06 20:35] Naramsim commented on #2
Since there is no IE extension in current development, I will add them :)

[2016-06-06 20:46] sarbbottam opened #3 "inject.js & inject.css"
[`/chrome/src/inject/inject.{js,css}` is shared at `/firefox/data`](https://github.com/Naramsim/GithubOriginalStreak/blob/master/gulpfile.js#L6-L10)

Does it make sense, to take out `inject.js` and `inject.css` from `chrome`, place it in `./src` and copy them to `firefox` and `chorme` only during building the respective extensions?

[2016-06-06 21:00] Naramsim commented on #3
I am fine right now, I just run `gulp watch` and gulp syncs the two folders whenever I save.
I don't want to copy and paste every time.
Just keep in mind to start the gulp session and work on chrome files.

[2016-06-07 17:29] #2 closed

[2016-06-07 17:30] Naramsim commented on #3
Fixed, thanks

[2016-06-07 17:30] #3 closed

[2016-06-08 19:18] Naramsim opened #4 "Add support for more languages"
For now only English is supported

[2016-06-09 05:32] sarbbottam opened #5 "GithubOriginalStreak icon"
GithubOriginalStreak icon looks vague compared to others.

<img width="387" alt="screen shot 2016-06-08 at 10 21 31 pm" src="https://cloud.githubusercontent.com/assets/949380/15919559/659f141e-2dc7-11e6-91db-8173fcf7dde0.png">

I have created this one

![github](https://cloud.githubusercontent.com/assets/949380/15919597/b0a80aa6-2dc7-11e6-9f7c-32b7f2ff0148.png)

With the exact color and aspect rat

[2016-06-09 06:31] Gliptal commented on #5
Nice work, better than the original!

[2016-06-09 17:01] Naramsim commented on #4
https://developer.chrome.com/extensions/i18n
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/i18n

[2016-06-09 18:17] Naramsim commented on #5
What do you think about this one? @sarbbottam @Gliptal
![streak_64](https://cloud.githubusercontent.com/assets/8996268/15941107/1069f514-2e7f-11e6-85f2-ffb2d1e5bd42.png)

[2016-06-09 18:59] sarbbottam commented on #5
@Naramsim Looks nice, I would reduce the gap, to make it look more compact.

GitHub ratio is 11 : 2, 11 is the width and length of the square and 2 is the gap.

[2016-06-09 19:36] sarbbottam commented on #5
### PNG

![github](https://cloud.githubusercontent.com/assets/949380/15943679/083dcaa4-2e3f-11e6-833f-a9ac65d8cf77.png)

### SVG

[code]

[2016-06-09 19:40] sarbbottam commented on #5
Would you prefer, me to raise a PR with images in different dimension and optimized?

[2016-06-09 20:23] Gliptal commented on #5
@sarbbottam 's solution is still the best IMHO, clean and flat looking.

[2016-06-10 12:15] #5 closed

[2016-06-10 12:16] Naramsim commented on #5
I will update all the icons on stores tomorrow

[2016-06-11 18:42] sarbbottam opened #8 "need to add .editorconfig file for format consistency."
https://github.com/Naramsim/GithubOriginalStreak/blob/master/src/inject.js is using both `tab` and `space` for indentation. Ideally it should be one, adding an `.editorconfig` file would resolve the issue.

For example https://github.com/sarbbottam/js-ds/blob/master/.editorconfig

[2016-06-11 20:34] Naramsim commented on #8
Thanks for pointing it out. I'll add it :+1:

[2016-06-13 08:43] #8 closed

[2016-06-13 15:38] Naramsim commented on #4
https://github.com/Naramsim/GithubOriginalStreak/tree/locales
Github currently supports only English, so no need to have locales.
Anyway, above there is a link to the branch with locales(supported on by FF>46)

[2016-06-13 15:38] #4 closed

[2016-06-13 23:25] sarbbottam opened #11 "current streak calculation"
Looks like, the current streak is not being calculated correctly. Please refer the attached screenshot.

<img width="857" alt="screen_shot_2016-06-13_at_4_22_11_pm" src="https://cloud.githubusercontent.com/assets/949380/16026434/7307c5d2-3183-11e6-9ece-8005afba23c2.png">

[2016-06-14 03:47] sarbbottam opened #13 "Enhancement / Wishlist"
- [ ] remove generated files from source control
- [ ] [xo](https://github.com/sindresorhus/xo) wrapper around eslint is awesome, no need to maintain explicit eslint configs
- [ ] test
- [ ] use npm scripts instead of gulp

[2016-06-14 08:06] #11 closed

[2016-06-14 08:29] Naramsim commented on #13
@sarbbottam I do need a .eslintrc for [bithound](https://www.bithound.io/github/Naramsim/GithubOriginalStreak), does XO creates on his own a .eslintrc?

What do you mean by source control?

[2016-06-14 17:55] sarbbottam commented on #13
_No decision-making. No .eslintrc or .jshintrc to manage. It just works!_

I am sorry, I have never used bithound so far. Could you help me understand why .eslintrc is required? Is it for linting the code or for something else?
If for linting, xo will do the same.

See [pr #12](https://github.com/Naramsim/GithubOriginalStreak/pull/12/files), the `src/inject.js` is the only file modified, `firefox/

[2016-06-15 21:58] sarbbottam opened #16 "Regression"
On clicking on individual days on calendar, github streak is re-inserting itself. **Please refer the animation**

<img width="739" alt="screen shot 2016-06-15 at 2 55 03 pm" src="https://cloud.githubusercontent.com/assets/949380/16098691/3aed5efa-3309-11e6-8c20-3cfd6353aeb9.png">

![regression](https://cloud.githubusercontent.com/assets/949380/16098711/5149eaa6-3309-11e6-9c93-f054b80c9adc.gif)

[2016-06-15 22:28] #16 closed

[2016-06-16 10:25] Naramsim opened #22 "Current streak error when full year of contributions"
https://github.com/nelsonic
Here current streak start and end date are not written

[2016-06-16 15:02] sarbbottam commented on #22
BTW, there is a limitation with this extension, `max-current-streak will never be more than 369, even if it is actually.

As the data is extracted from the markup, and markup displays data for only last 369 days.

[2016-06-16 15:07] Naramsim commented on #22
Yes, we could add more years by querying Github API per user

[2016-06-16 17:16] sarbbottam commented on #22
Is the original issue still reproducible?

[2016-06-16 17:16] Naramsim commented on #22
It is impossible to get all the past events:

#### GitHub:

Here is the link to fetch the very last events Github give for my profile: https://api.github.com/users/Naramsim/events?page=3&per_page=200 We can get up to 300 events :anguished:

[2016-06-16 17:19] Naramsim commented on #22
I have created this fiddle that gets those 300 events, we should embed it and store the count in LocalStorage. It is too complicated and should start working only after 1 year from now...
https://jsfiddle.net/m18vkLdo/

[2016-06-16 19:11] #22 closed

[2016-06-16 23:47] sarbbottam opened #26 "change streak color"
In stead of
`localStorage.setItem("blueSky", 1)`
let's do
`localStorage.setItem("color-scheme", "blue-sky")`

Why?

Let's get fancier ...

multiple color-scheme, `blue-sky`, `golden-orange`, `pinky-purple` etc ...

---

And maybe later on from browser action? For example, user clicks on the extension icon, display a color scheme chooser. Whenever user updates the color-scheme, it is set to `local-

[2016-06-16 23:47] sarbbottam commented on #26
@Naramsim thoughts?

[2016-06-17 06:45] Naramsim commented on #26
It could be, for sure.

[2016-06-17 21:24] Naramsim commented on #26
On the new PR I've added "halloween" mode

[2016-06-19 04:31] sarbbottam commented on #26
Fixed as part of #28

[2016-06-19 04:31] #26 closed

[2016-06-27 10:59] wbraswell opened #30 "Only The Last 373 Days Are Counted"
Hi, thank you very much for your awesome browser extension!

In the area which shows all the little green squares, I can see has 373 squares visible which represent the last 373 days.  Likewise, the Longest Streak and Current Streak also show only 373, when my correct streak should be over 600 by now.

I have Chromium v50.0.2661.102 in Ubuntu v14.04 (64-bit).  The same thing happens in Firefox.

C

[2016-06-27 11:11] wbraswell commented on #30
Ah, I see this is a mostly-duplicate of "Current streak error when full year of contributions":
https://github.com/Naramsim/GithubOriginalStreak/issues/22

I also see that you have a partial solution already developed:
https://jsfiddle.net/m18vkLdo/

I can prove my current streak with both a dated Github screenshot (attached to this comment), as well as with the full .git/ directories of all appli

[2016-06-27 13:31] Naramsim commented on #30
#### GitHub:

So we cannot get previous contributions using Github API.
Basically, Github only lets you see users activities starting from three days ago (a normal user has more than 300 events in three days). So we can't use that fiddle to get our data.

We could perform a daily check if the streak is >373, then, if you have made a commit that day, store a variable to increase the streak. But thi

[2016-06-27 23:16] wbraswell commented on #30
@Naramsim
Thank you for your reply!

We need some very simple web-based mechanism for storing and updating the "current streak start date" for each user who has as streak over 1 year long.  As you call it, we need a "database", although it does not actually need to be a full SQL database, we really just need some simple online data storage.

Each user with a current streak longer than 1 year will

[2016-06-28 08:06] Naramsim commented on #30
ok, I made a Fiddle that updates GitHub gists :smile:
But a problem still remains: to add days to the streak you have to use the extension every day.

Or we can store the date in which the user has started the streak...
So I will store "18/04/2013", and for the streak I will display now() - "18/04/2013"

[2016-06-28 10:58] wbraswell commented on #30
@Naramsim

Yes that sounds great!  I think a Fiddle which updates GitHub gists is the best plan.

You only need to store the date on which the user has started their current streak, so it is just 2 pieces of data: username and current_streak_start_date.

Once it works for just the username & current_streak_start_date, then it may be possible to add such items as longest_streak_start_date and longe

[2016-06-30 14:42] Naramsim commented on #30
@wbraswell When you think your streak has started? (I've setted `2010-06-28`)
This is the gist: `https://gist.github.com/Original-Streak/5d89d59e4e9355ff5e8316b40dcebf09`

As now the extension does this:

What do you think? Chrome will update the extension in a day, ff in a week like Opera. Which browser are you using?

[2016-06-30 17:04] wbraswell commented on #30
@Naramsim
Wow awesome work, I am showing that you have put Jun 28, 2010 as my start date, so it seems to be working!

According to my Github screenshot which I have attached to my post 3 days ago, my true streak started on August 5, 2014.

I am currently using the Github Original Streak browser extension in:
Chromium 50.0.2661.102 (Developer Build) Ubuntu 14.04 (64-bit).

I also have the following

[2016-06-30 17:19] Naramsim commented on #30
1: They will be calculated normally. Longest streak: around 365 days Current streak: 0
2. Seems hard to do, will see
3. Correct, how to handle this case (which is simpler that the upper one)? Maybe just by don't delete the custom start date. But if I don't delete the custom start date this case could happen:

 How can we manage it?

[2016-06-30 17:41] wbraswell commented on #30
Does the browser extension check the Github gist every single time the user views their Github home page?  If so, then it should be relatively straightforward to simply update the gist every time the extension is used, but only if the gist needs to be updated of course.

Or is the browser extension relying on some outside mechanism (like the JS Fiddle) in order to update the gist exactly 1 time pe

[2016-06-30 17:55] Naramsim commented on #30
The gist is modified directly by the extension when any user browses a profile with full contributions. At least it checks if for that profile a custom start date was set

[2016-06-30 18:41] wbraswell commented on #30
Does the browser extension have the ability to edit the gist to modify the streak start date, or can the browser extension only read the gist without editing it?

[2016-06-30 18:47] Naramsim commented on #30
It can read and write (that leads to security issues, so one can delete everything, but since this is a free opensource project why someone should do it?)

[2016-06-30 19:12] wbraswell commented on #30
Okay if the extension can edit the gist, then you can update the streak start date whenever user views their Github home page.
I think we may need to actually have 2 dates saved in the gist for each user: "current streak start date", and "saved streak start date".  If there is a gap in work during the past year, then the "current streak start date" is copied into the "saved streak start date", and

[2016-07-01 15:46] Naramsim commented on #30
@wbraswell  Done. Now we have a sort of backup.
The new version 1.9 that will roll out tomorrow is incompatible with the current one(1.8).
So there could be some mistakes in calculation tomorrow

PS: I was thinking that maybe I could show a balloon/message to the users with full calendar inviting them to select a custom start date. What do you think?

[2016-07-01 21:03] wbraswell commented on #30
@Naramsim
Okay great, I look forward to v1.9 tomorrow, I will let you know if I see any mistakes in calculation.

Yes, I think it would be a great help to show a balloon message to invite users to select a custom start date once they reach 1 full year.  :-)

[2016-07-03 02:06] wbraswell commented on #30
@Naramsim

My browser is telling me it has disabled the extension because it requires new permissions:

"Read & change your data on api.github.com and github.com."

Why does the extension need to change my own github data?  I thought the gist was stored in your repo only?

[2016-07-03 07:18] Naramsim commented on #30
That means that the extension operates on those domain. Github.com was already there, i've added api.github.com because i need to call github api. I cant update the gist without those permissions.

[2016-07-03 15:46] wbraswell commented on #30
Oh okay, so it is not trying to modify MY github account or repos, only YOUR github info?

[2016-07-03 16:04] Naramsim commented on #30
Basically it says that I can read (and modify) the HTML on github.com and api.github.com
No security issues :smile:

[2016-07-03 16:13] wbraswell commented on #30
Okay but again, this is only modifying the data on YOUR github account, not on MY github account, correct?

[2016-07-03 16:39] Naramsim commented on #30
For sure

[2016-07-03 16:40] Naramsim commented on #30
I cannot in any way access to your Github account.

[2016-07-03 19:41] wbraswell commented on #30
Okay great, thanks!  :-)

[2016-07-03 20:07] #30 closed

[2016-07-03 20:08] Naramsim commented on #30
Can I put a screenshot of your profile on the chrome web store? @wbraswell

[2016-07-03 20:23] wbraswell commented on #30
@Naramsim
Yes you may, although I would strongly prefer we wait 2 more days until I hit 700 days!  :-D

[2016-07-03 20:52] albertyw opened #34 "What is secret.json?"
And why isn't it checked into the repository?  It's pretty easy to find the token.  It seems to point to https://api.github.com/gists/5d89d59e4e9355ff5e8316b40dcebf09

[2016-07-03 21:15] albertyw opened #35 "Streak doesn't correctly look back farther than a few days past a year"
I tried installing GithubOriginalStreak but I found that the chrome plugin does not correctly look back more than a few days past a year.  My streak says 371 days but it should go well beyond that.

[2016-07-04 06:56] Naramsim commented on #34
In secret.json there a Gist only token. I need it to update a gist.
I know that someone could use it in evil ways(delete the gist).
But I'm pretty sure that since this is an open source free project no one will be evil

It is not checked in the repo because Github automatically disables valid token if pushed to a repository

[2016-07-04 06:59] Naramsim commented on #35
Yes, I will deploy an update that (in the case of a full contribution calendar) will show a message to set a custom start date.
For now just, tell me when your streak started. I will update a gist(the one of #34). So your streak will show correctly to all the users that are using this extension.

[2016-07-08 12:26] #34 closed

[2016-07-08 12:26] #35 closed

[2016-07-18 03:26] wbraswell commented on #34
@Naramsim
Do you have a local or online backup of the gist, in case of some "evil" person?

[2016-07-18 03:38] wbraswell opened #38 "Premature Streak Reset"
![wbraswell_20160717-github_streak_bug](https://cloud.githubusercontent.com/assets/1772630/16905573/9def44a0-4c6d-11e6-9708-ed714aad596a.png)

The "Current Streak" should not be reset to "0 Days" until my local clock hits midnight.  If it is not possible to check my current time zone, then delay streak reset until the very last time zone on Earth hits midnight.

As it is now, my Current Streak is

[2016-07-18 07:28] Naramsim commented on #34
Yes, of course

[2016-07-18 07:54] Naramsim commented on #38
The local streak does rely on local time zone. It is calculated by your computer.
As soon a day starts it is reset to 0 days because that day you haven't contributed. As soon you make a contribution it will show the correct streak.
In your screenshot I saw that you have two noncontributing days, isn´t that 0 day streak correct?

The streak is reset to 0 when days starts

[2016-07-18 07:56] Naramsim commented on #38
![screenshot 159](https://cloud.githubusercontent.com/assets/8996268/16908681/cdfd50aa-4ccd-11e6-8230-abc90f2df27d.png)
This is your streak right now. Longest is correct since it looked to the backup data. The current is 0 because you haven't contributed today.

[2016-07-19 03:57] wbraswell commented on #34
Okay great!  :+1:

[2016-07-19 03:58] wbraswell commented on #38
No, that is not the correct behavior.

The original Github streak does not reset me to 0 days until midnight of my local time zone.

[2016-07-19 04:01] wbraswell commented on #38
And also the browser plugin must not be checking my local timezone correctly, because it shows an empty block for tomorrow many hours before midnight, which is also a different incorrect behavior.

It is okay to show the block for tomorrow an hour or two before midnight in my local timezone, but not several hours in advance, and it definitely should have not have an effect on my streak.

Should I

[2016-07-19 06:18] Naramsim commented on #38
It is okay here.
So when a new day starts I will not reset the current streak. I'll reset it only if you are not contributing for two consecutive days. Seems fine?

[2016-07-19 06:36] Naramsim commented on #38
![days](http://i.imgur.com/ldDKlnr.png)
Here an image, proving that you are right , thanks

[2016-07-21 22:27] wbraswell commented on #38
@Naramsim
I am still experiencing this issue.  I have not pushed any commits yet for today (Jul 21), and my streak says "0 days".

[2016-07-22 06:06] Naramsim commented on #38
Be patient @wbraswell, the new version is not out yet.

[2016-07-22 09:13] wbraswell commented on #38
@Naramsim
Oh I see, on Github and other ticketing systems, we do not "close" a bug report until the actual bug fix has been released, so naturally I assumed that since you have marked this issue as "closed" that you have released the bug fix.

[2016-07-22 09:59] Naramsim commented on #38
Ok, I've pushed the repo with the code that fixes the bug. But I didn't submit it the stores

[2016-07-22 10:09] wbraswell commented on #38
@Naramsim
Thank you for explaining.

With my own programming projects, which require code to be installed by the user, I do mark the bug reports as "closed" when I push the fixes to Github, because it is expected that my users can and will install the latest code directly from Github.

However, for a browser plugin such as yours, which is installed & updated automatically based on the browser plug

[2016-07-23 04:53] wbraswell commented on #38
@Naramsim
When I loaded up Github just now, I saw a new popup window for selecting a new start date, it looks good!
(I did not need to set a new start date, so I dismissed the popup dialog.)

[2016-07-23 15:17] Naramsim commented on #38
Hey @wbraswell, thanks. It will never show again. Has the issue been resolved? I hope so. Thank you for pointing it out.

[2016-07-24 05:07] wbraswell commented on #38
@Naramsim
Okay both issues now appear to be resolved!
A blank square did not appear until my local clock hit midnight, and my streak did not get reset to 0 immediately, so everything is correct now.
Great job, keep up the good work, and thanks!
:+1:

[2016-07-24 05:07] #38 closed

[2016-08-26 03:41] TDA opened #42 "Contributions in the last year displays wrong date range"
So, while the current streak and the longest streak show the right stats, the "Contributions in the last year" also shows the *same* stats. This isn't how GitHub used to show it IIRC. More like last one year (~ +/- 365 days). I would like to include that I did use the date setter, so not sure if it occurs otherwise :)

Screen:
<img width="746" alt="screenshot 2016-08-25 20 39 01" src="https://clou

[2016-08-26 07:52] Naramsim commented on #42
Hi @TDA, thanks for reporting.
Just fixed the error:
![screenshot 164](https://cloud.githubusercontent.com/assets/8996268/17998049/954d816c-6b72-11e6-92ef-268e44d5bae2.png)

I will upload the new version to the stores now.
If you are on firefox or on opera, you could receive the update in a week

[2016-08-26 08:03] TDA commented on #42
@Naramsim Wow, that was insanely fast! thank you so much!! 👍

[2016-08-26 11:24] #42 closed

[2016-09-14 15:41] Naramsim opened #44 "start streak date question redundant when multi-device"
When using two or more browser the question about setting an initial start date is always asked

[2016-09-14 20:25] Naramsim opened #46 "New Github design"
Github has just released a new interface:

![screenshot 30](https://cloud.githubusercontent.com/assets/8996268/18528476/7f3e903a-7ac9-11e6-892d-28f0a3644b1b.png)

The extension cannot select the element to attach the statistics. It was: `#contributions-calendar`.
Now it could be: `.mb-5.border.border-gray-dark.rounded-1.py-3` or `.js-contribution-graph`

Probably we need to tweak some CSS

[2016-09-14 20:54] Naramsim commented on #46
Moreover, they added the possibility to navigate through years. So the extension will display statistics only for that period.

[2016-09-15 02:13] PuRonglong commented on #46
Nice.Looking forward to the new display.😊

[2016-09-15 11:54] Naramsim commented on #46
@PuRonglong Updates are rolling out.
Chrome has received it four hours ago. Does it work?

![screenshot 168](https://cloud.githubusercontent.com/assets/8996268/18548962/d1b7c480-7b4b-11e6-856c-fec4bcdf4eff.png)

I've kept the design simple and removed the divisions between stats.

[2016-09-15 12:16] PuRonglong commented on #46
@Naramsim Yes,it works.I give a star to the project for support.

[2016-09-15 21:04] #44 closed

[2016-09-15 21:05] #46 closed

[2016-10-12 06:48] TDA opened #49 "Regression when double clicking a year?"
Hello, for some reason I believe I double-clicked on the year 2016 on my profile page, resulting in this:
<img width="773" alt="screenshot 2016-10-11 23 44 14" src="https://cloud.githubusercontent.com/assets/432707/19300056/d9e521a4-900c-11e6-9ad2-a3bd8cb4edb6.png">

Thinking this must be a transient issue, I refreshed the page, resulting in this:
<img width="801" alt="screenshot 2016-10-11 23 44

[2016-10-12 11:03] Naramsim commented on #49
Hi, I've set your start date back as it were.
There is currently a bug when you click more than once on year buttons.

Now I don't have enough time to investigate, for a couple of weeks you should live with this bug.

However, the extension works correctly now since i restored your initial date

[2016-10-12 17:46] TDA commented on #49
@Naramsim Thank you so much! really appreciate it!

[2016-10-13 06:55] TDA commented on #49
@Naramsim Seems to have reset to 366 days again, not sure why, didnt even click this time :(

[2016-10-13 07:50] Naramsim commented on #49
Updated your data. Don't know why it reset back to 366

[2016-10-17 05:46] TDA commented on #49
@Naramsim I seem to have found a way to reproduce this. This seems to happen only when I make a push after 9pm PST. Not sure why :( It has reset back to 371 now. T_T

[2016-10-17 06:48] Naramsim commented on #49
Hi @TDA, I think I found a bug that could cause this behavior.
Basically, the start date is deleted with a backup if you do not commit for 2 or more days. But the current regex that reads backups does not work.

`/^(\d{4}-\d{2}-\d{2})?(?:#(\d{4}-\d{2}-\d{2}))?(?:@([01]))?$/` -> correct one 6b69913f436242ed6ee6a5492bbfabf1c33a7ef9

I've updated the regex in order to read backups(only one char added

[2016-10-17 06:52] TDA commented on #49
@Naramsim Thank you so much!! You deserve a pat for fixing stuff so fast!! let me know if you have anything I can do! :)

[2016-10-21 05:37] TDA commented on #49
@Naramsim It seems to have reset again. Notice how it says 2 days back even though its still October 20, 10.36PM PST.
<img width="772" alt="screenshot 2016-10-20 22 36 05" src="https://cloud.githubusercontent.com/assets/432707/19587763/b5065604-9715-11e6-8611-31f2e8f68ecd.png">

[2016-10-21 05:42] TDA commented on #49
@Naramsim But it has reset back to 507 now after I made todays push!! :D :D so this is indeed fixed!!! can be closed 👍

[2016-10-21 06:09] Naramsim commented on #49
Yes, the behavior is this one:
If you don't commit for two days the streak is correctly reset back. A backup is done. If at some moment it appears that you have contributed in those days, the backup is restored.

Good to know that it works!

[2016-10-21 06:09] #49 closed

[2016-10-21 06:55] TDA commented on #49
@Naramsim But its not been 2 days :O cuz its still Oct 20th 11.55pm PST

[2016-10-26 12:56] Naramsim commented on #49
Hi @TDA, I forgot to write you back.
The stats are drawn by looking at the Github calendar, and in your picture you can see that there are two gray squares, this means that Github think you haven´t contributed for two days.

[2016-10-26 19:54] TDA commented on #49
@Naramsim Yes, but after I make a push and refresh, it shows 0 gray squares. That screenshot and the comment were posted on Oct 20th well before midnight PST. But it shows two gray squares for Oct 20 AND Oct 21, which is in the future. Is this a general github thing? Cuz i dont remember having seen that behavior before.

[2016-10-26 20:44] Naramsim commented on #49
Yes, it is about Github and how it calculates the time. For me everything is ok (UTC+01:00). I only watch the calendar.

[2016-11-07 23:58] wbraswell opened #50 "Extension Has Stopped Working?"
Some time over the weekend, my extension stopped showing my streak, now it just looks like a normal GitHub page w/out the extension installed.

I have tried disabling and then re-enabling the extension, the GitHub page view does not change at all.

Has something changed with GitHub that has temporarily broken the extension?

Thanks in advance!  :-)

[2016-11-08 09:08] Naramsim commented on #50
Hi @wbraswell, thanks for the issue. Github has changed a little bit the padding of the calendar thus invalidating the HTML element that i use to append our statistics.

I chencged the element from `document.querySelectorAll('.mb-5.border.border-gray-dark.rounded-1.py-3')[0];`

to `document.querySelectorAll('.mb-5.border.border-gray-dark.rounded-1.py-2')[0];`

I've released the new version on the

[2016-11-09 07:45] #50 closed

[2016-11-11 15:41] wbraswell commented on #50
@Naramsim

Great job!  Mine seems to be working again now, without changing anything.

Was I supposed to actually download and install a new Chrome extension, or did it automatically update itself?

[2016-11-11 21:26] Naramsim commented on #50
Chrome and all other browsers (FF & Opera) auto-updates extensions automatically

[2016-11-12 00:01] wbraswell commented on #50
:-)

:+1:

[2017-04-13 15:20] futagoza opened #57 "Not working in Opera"
I just came across this today while looking for a extension to remove the black navbar, but its not working at all, I'm just seeing the normal contributions.

OS: Windows 10 Home x64
Browser: Opera 44.0.2510.1218 (12/04/2017)
Store: [https://addons.opera.com/en-gb/extensions/details/github-original-streak/](https://addons.opera.com/en-gb/extensions/details/github-original-streak/)

[2017-04-13 19:32] Naramsim commented on #57
Currently, there is an old version on Opera which does not work, tomorrow I'll release the correct extension in the marketplace. What do you mean by ..?

This extension is not meant to remove the black bar.

Edit: I've submitted it to the store

[2017-04-14 00:36] futagoza commented on #57
Sorry, that wasn't meant to be about this extension. I was basically saying that while looking for a [different extension](https://github.com/victor-li/github-white-navbar) I came across [GithubOriginalStreak](https://addons.opera.com/en-gb/extensions/details/github-original-streak/) by accident 😄

How long does it usually take for an update to appear on the store after you've submitted it?

[2017-04-14 10:45] Naramsim commented on #57
Hi, probably two or three days.
When it is published I will close this issue so you will be notified

PS: I suggest [this](https://github.com/DennisSnijder/MakeGithubGreatAgain) extension to bring back the white bar

[2017-04-25 14:50] #57 closed

[2017-04-25 14:51] Naramsim commented on #57
@futagoza Opera today approved the extension, can you chack it out?

https://addons.opera.com/en-gb/extensions/details/github-original-streak/

[2017-04-26 12:09] futagoza commented on #57
@Naramsim It's working fine now on Opera, thanks.

[2017-05-03 09:04] ljharb opened #58 "Calculates longest streak incorrectly."
My current streak is 1113 days (since April 16th, 2014). The extension reports it as 668 days (since July 5th, 2015).

Can this be fixed?

[2017-05-03 12:46] Naramsim commented on #58
Hi, yes, I'll update your entry manually.

Didn't the extension ask you about setting the day about when you started your streak?

[2017-05-03 12:48] Naramsim commented on #58
![jordan](https://cloud.githubusercontent.com/assets/8996268/25661138/93f51c00-300f-11e7-8dc1-fa70a2a1608f.PNG)

[2017-05-03 12:48] #58 closed

[2017-05-03 19:38] ljharb commented on #58
It's now calculating correctly; it seems that uninstalling and reinstalling the extension didn't fix it, but restarting Chrome seems to have fixed it.

[2017-05-03 19:39] ljharb commented on #58
@Naramsim thanks - no, it didn't ask me anything, and I don't see any options.

[2017-05-03 19:52] Naramsim commented on #58
Oh, that's a problem, probably with the new design the question is no more appearing, I will investigate. Thanks.

[2017-07-04 21:04] haxpor opened #59 "Strange rendering of "Current streak""
Before it works perfectly well, but now at this very moment it's not.

I'm still not sure what is the root cause of the problem. My current streak should be at 50 at this particular moment.

![captured screenshot](http://i.imgur.com/cQ4yO2v.png)

Or you just see my Github [profile](https://github.com/haxpor).

[2017-07-05 09:48] Naramsim commented on #59
Hi, I really couldn't replicate it. Which browser are you using?

![streak](https://user-images.githubusercontent.com/8996268/27859001-a0a18e22-6177-11e7-8f9c-ec388d722dbd.PNG)

Moreover, is it happening every time, or just sometimes?

[2017-07-05 14:56] haxpor commented on #59
Thank you! It has happened as always since I reported this issue. Still now it also happens.

I tried to clear cache specific to Github domain. Then I see correct data but without logging in to my Github account yet. After I logged in, the problem kicks in again.

I use Chrome (`Version 59.0.3071.115 (Official Build) (64-bit)`) on mac OS High Sierra 10.13.

[2017-07-05 17:02] Naramsim commented on #59
Does the error occur only on your profile or on every profile you visit? Do you use other extensions that modify Github? Pressing F12 and looking in the console after a reload shows some messages?

Can you do me a favor? Can you allow this extension to run in incognito, then open an incognito window, log in and see if the error persists?

Thanks for your time.

[2017-07-05 20:35] haxpor commented on #59
I answer your questions as below

* Occur only to me
* I didn't use any other Github related extension
* Do you mean developer console on chrome? I didn't see any thing by the way, all clean.
* Still persist even enabled it in incognito mode, I have the same streak number for longest streak, and current streak.

[2017-07-06 18:13] Naramsim commented on #59
Hi, i will look into it, hope to find something

On Jul 5, 2017 22:35, "Wasin Thonkaew" <notifications@github.com> wrote:

[2017-07-06 19:03] haxpor commented on #59
Thanks! Sure, just let me know if you need me to test anything.

[2017-07-08 12:15] Naramsim commented on #59
Hey @haxpor, I don´t understand a thing. Actually, the picture you've posted to the very top of the issue is presenting the truth. I will post the same down here

![img](https://camo.githubusercontent.com/428d367dcaf0f3de4c7b0c8c68e725a234f255be/687474703a2f2f692e696d6775722e636f6d2f635134794f32762e706e67)

There are exactly 138 squares painted in green (3 +2 +19 * 7 = 138). In your picture, there

[2017-07-08 16:47] haxpor commented on #59
Ohh man, thanks for your time. I think you're right about 11 May, once I used your extension and it renders ~50, this might due to a hole on that date in which it's weird I actually see a hole in incognito mode recently, refresh then it's gone, no missing hole anymore. So might be something about Github itself. I checked on that day, I have 1 contribution and repo is public, so there's no lose of

[2017-07-08 16:47] #59 closed

[2017-07-30 06:20] daberkow opened #60 "Enhancement / Set Urls"
I work somewhere were we run github enterprise, it would be cool to let us enter custom URLs. Secondarily, if somehow we could ignore the weekends. :D

[2017-07-30 10:24] Naramsim commented on #60
It is hard to allow custom URLs since we have to allow every URL and check if the calendar is present.
Right now we allow only [\*.github.com\*](https://github.com/Naramsim/GithubOriginalStreak/blob/master/chrome/manifest.json#L25)

If I understand one can run Github enterprise on his own servers, right? Having a custom domain?

[2017-08-01 19:53] daberkow commented on #60
Yeah it can be any domain at your company or school, if there was an easy way to allow us to edit the regex that would be awesome!

[2017-08-02 11:16] Naramsim commented on #60
Hi, there is no way to let users alter the manifest of an extension. And I don´t want to run the script on all web pages (match them all) since it will produce unnecessary work and scare users. Also, Firefox does not support dynamic permissions ([Chrome yes](https://developer.chrome.com/extensions/permissions))

So one thing you can do is modify by yourself this extension and allow your custom dom

[2017-08-02 11:16] #60 closed

[2017-11-16 17:17] Eluvias opened #62 "Not working in Firefox Quantum (v57.0)"
New Firefox Quantum allows only WebExtensions, and not AddOns

[2017-11-17 10:09] Eluvias commented on #62
Thank you! It works again.
https://addons.mozilla.org/en-US/firefox/addon/github-original-streak/

[2017-11-17 10:16] Naramsim commented on #62
Yeah, I just submitted the chrome WebExtension, and it worked

[2017-11-17 10:16] #62 closed

[2018-01-06 07:36] ifvictr opened #63 "Add commas to separate thousands"
GitHub used commas to separate thousands if I recall correctly. So this:

![capture](https://user-images.githubusercontent.com/10110245/34637726-33a470b0-f271-11e7-907f-dcc669be39ba.PNG)

would be changed to this:

![capture](https://user-images.githubusercontent.com/10110245/34637731-47a259ec-f271-11e7-9f23-96df9c2c76b7.PNG)

[2018-03-20 19:00] #63 closed

[2018-05-02 22:01] LeonTG commented on #35
I just installed this and saw that option but I accidentally clicked off it, how do I get it back?

[2018-05-03 03:42] albertyw commented on #35
In a browser dev tools window on github.com, run `localStorage.removeItem('customStartStreakDateWasAsked')` and refresh your profile page.

I also did it myself originally by reverse engineering the code and updating the github gist holding the data directly.

[2018-05-03 06:44] LeonTG commented on #35
@albertyw The first thing didn't work, nothing is popping up

[2018-05-03 06:49] Naramsim commented on #35
Yeah, you could clear all our flags in the localstorage or just tell me the date when your streak started and I will update it 😄

You can write me to my email. (On my profile)

[2018-05-03 06:50] LeonTG commented on #35
@Naramsim It started September, 12th, 2015

[2018-05-03 06:55] Naramsim commented on #35
Done: https://github.com/LeonTG

[2018-05-03 06:55] LeonTG commented on #35
@Naramsim Thank you! :)

[2018-07-05 02:07] ifvictr opened #65 "Data should be stored locally"
Hello! I noticed that data was being stored in a remote Gist [here](https://github.com/Naramsim/GithubOriginalStreak/blob/master/src/store.js). Why would local storage not be used in this case?

[2018-07-05 07:33] Naramsim commented on #65
To present _all_ the users with the correct full streak. Not only those with a full-calendar.

Maybe we can add a sort of caching in the LS, but we should discuss a little bit about that.

[2018-07-10 10:43] #65 closed

[2018-07-23 23:11] ljharb opened #66 "Seems to no longer be working"
I'm not sure if Github changed their markup or something, but i see no console errors, and the extension's UI never kicks in (as of a week or three ago)

[2018-07-24 07:07] Naramsim commented on #66
Thanks for reporting the issue, probably Github changed the DOM.

I will take a look.

[2018-07-24 09:54] Naramsim commented on #66
Hi again, I just pushed a new version to the stores. If you use Chrome you should be able to check if it works again in about 2 hours.

https://github.com/Naramsim/GithubOriginalStreak/commit/4075b93e8a6343444f3a2423b216c181c67d6821

If it works you can close

[2018-07-24 15:38] ljharb commented on #66
Works, thanks!!

[2018-07-24 15:38] #66 closed

[2018-08-04 18:35] azdanov opened #67 "Not working"
The extension doesn't seem to work for me. Although it was fine just a couple of days ago.

[2018-08-06 10:56] Naramsim commented on #67
I updated and pushed, can you check in an hour if everything works?

[2018-08-06 10:58] azdanov commented on #67
It works! Thank you.

[2018-08-06 11:00] #67 closed

[2018-10-11 22:46] prabhakar267 opened #68 "Extension not loading for activity overview, if year is clicked"
If user has enabled [Activity Overview](https://blog.github.com/changelog/2018-08-24-profile-activity-overview/) and clicks on some year, chrome extension doesn't load the new contribution graph.
Extension Version used: `1.14.4`

[2018-10-12 09:09] Naramsim commented on #68
~I will investigate in the next week, thanks for reporting~

[2019-04-05 07:43] endormi opened #70 "Duplicates"
Clicking a year then clicking overview creates a duplicate. Other than that I really enjoy using this!
![duplicate](https://user-images.githubusercontent.com/39559256/55611902-96981580-578f-11e9-8965-8d89284c70d0.PNG)

[2019-04-05 12:51] Naramsim commented on #70
Thanks for reporting, this is the contrary of #68. I don't know if I will have time to check it.

Don't expect a fix any time soon by me.

[2019-06-18 06:03] #70 closed

[2019-06-21 09:40] Naramsim commented on #60
https://github.com/bfred-it/webext-domain-permission-toggle

[2019-07-11 07:11] #68 closed

[2019-07-28 14:01] Eurus-Holmes opened #76 "Longest streak capped at 365 days"
Why can't my contributions be accumulated, up to 365 days?

On July 26th,
<img width="966" alt="屏幕快照 2019-07-26 00 11 25" src="https://user-images.githubusercontent.com/34226570/62007703-a365be00-b11e-11e9-8c08-8517fcb10161.png">

On July 28th,
<img width="918" alt="屏幕快照 2019-07-28 09 57 38" src="https://user-images.githubusercontent.com/34226570/62007706-ab256280-b11e-11e9-8dc8-c6b149c1b060.png">

[2019-08-14 15:03] Naramsim commented on #76
Looking at [your profile](https://github.com/Eurus-Holmes) with the latest plugin on Chrome it shows you at 381 days.

![feiyang](https://user-images.githubusercontent.com/8996268/63032004-4e170400-beb5-11e9-85d4-f1865a821ba7.PNG)

Which browser are you on @Eurus-Holmes?

[2019-08-14 15:25] Eurus-Holmes commented on #76
Sorry, maybe I misunderstood, I think it should be another [plugin](https://github.com/jasonlong/isometric-contributions) problem...

[2019-08-14 16:47] Naramsim commented on #76
Can we close?

[2019-08-14 17:42] #76 closed

[2019-08-21 20:05] Eurus-Holmes opened #77 "Overlay does not fade out"
The calendar dialog can't be dismissed when I click anywhere else?

[2019-08-22 08:05] Naramsim commented on #77
Can you provide a screenshot?

[2019-08-22 08:07] Naramsim commented on #77
Investigating

[2019-08-22 08:15] Naramsim commented on #77
Deploying an hotfix

[2019-08-22 08:35] Naramsim commented on #77
@Eurus-Holmes, I disabled the popup, sorry. In an hour the change should roll-out in Chrome and in a day in Firefox. Can you confirm if the bug will be resolved?

[2019-08-22 13:50] Eurus-Holmes commented on #77
@Naramsim Thanks! It has been fixed!

[2019-11-15 14:04] Seluj78 opened #80 "No need for a module badge"
Hey !

It seems that this addon for firefox adds a badge, like shown below

<img width="182" alt="Screenshot 2019-11-15 at 15 04 06" src="https://user-images.githubusercontent.com/4641317/68948881-305d8180-07b9-11ea-92b7-1a8cc78881c8.png">

But it really isn't needed, can it be removed ?

[2019-11-16 00:03] Naramsim commented on #80
Could be, I don't know how to do it anyways. Isn't it automatically added by firefox so that you know the extension is installed? Maybe as a security/transparency reason.

[2019-11-16 10:48] Seluj78 commented on #80
I don't think so, it seems that some modules I install don't have one and some do, like yours for example... Maybe in the package settings? I have no clue how it works, I would've looked into it otherwise :)

[2019-11-16 17:26] Naramsim commented on #80
Ok, I got it. There is a [`browserAction`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/browserAction) and in my `manifest.json` there is the icon specified. I think removing it solves your problem.

[2019-11-16 21:31] Seluj78 commented on #80
Are you going to push it ? 😄 or do you want it as is ?

[2019-11-16 22:37] Naramsim commented on #80
I'll take a look, I don't a lot of time but I can do it 😄

[2019-11-16 22:43] Seluj78 commented on #80
Thanks a lot ❤️

[2019-12-05 17:09] Naramsim commented on #80
Hi @Seluj78, we have a problem here, I guess. So Chrome forces all extensions to display an icon in the top bar.

Read more here: https://stackoverflow.com/a/37521405/3482533

I removed anyway the `browser_action` and Chrome should thus display the icon grayed-out.

I'm not sure what FF will do. I submitted the new version and in a few days it should update, will you be able to check?

[2019-12-06 09:55] Eurus-Holmes commented on #77
@Naramsim This bug occurred again!

<img width="1254" alt="屏幕快照 2019-12-06 下午5 54 53" src="https://user-images.githubusercontent.com/34226570/70313969-87eb8c00-1851-11ea-9340-9934408f53ed.png">

[2019-12-06 18:30] webistomin commented on #77
Same problem🤔

[2019-12-06 20:43] Naramsim commented on #77
Hello everyone, I'm extremely sorry for this bug happening again.

I pushed to FF and Chrome webstores a hotfix that simply gets rid of the entire popup.

I hope it won't take much time.

[2019-12-07 11:17] Seluj78 commented on #80
Hey @Naramsim ! Thanks ! I will check and let you know !

[2019-12-07 12:32] Eurus-Holmes commented on #77
@Naramsim It has been fixed! Thanks!

[2019-12-07 12:32] #77 closed

[2019-12-17 10:03] Seluj78 commented on #80
Hey, it seems to have worked for FF ! Thanks !

[2019-12-17 10:03] #80 closed

[2020-08-11 12:28] FatTonyy opened #82 "visibility"
visibility is terrible on a dark theme.

[Example](https://res.cloudinary.com/dcbx7o2dn/image/upload/v1597148820/fat-tonyy/Screenshot_1_hlbyrq.png)

[2020-08-11 12:48] Naramsim commented on #82
Is that an official Github feature or a browser extension?

[2020-08-11 12:50] FatTonyy commented on #82
browser extension.
[link](https://chrome.google.com/webstore/detail/github-dark-theme/odkdlljoangmamjilkamahebpkgpeacp)

[2020-08-11 12:59] Naramsim commented on #82
Sorry, then you have to contact that developer. I can't change his CSS, and ~~his source code is not open source~~ (differently to this extension)

Nevermind, it's open source: https://github.com/poychang/github-dark-theme

[2020-08-11 12:59] #82 closed

[2020-12-08 17:43] KeziahMoselle opened #83 "Add support for the official dark mode"
I think we can use `var(--color-text-primary);` for this

[2021-02-04 00:26] chocolateboy opened #85 "Firefox release?"
Any plans for a new Firefox release? The version on [AMO](https://addons.mozilla.org/en-US/firefox/addon/github-original-streak/) (v1.14.9, December 2019) appears to be missing a few updates available in the [Chrome version](https://chrome.google.com/webstore/detail/github-original-streak/jgfeifpakohnblfnjdpigclinhbkocja) (v1.14.10, December 2020).

[2021-02-04 09:50] Naramsim commented on #85
Yep, I'll try :)

[2021-02-05 19:11] eddelbuettel opened #86 "Anybody else having issues?"
Did GitHub change something (again)?  When enabled all I get is this at the top

![image](https://user-images.githubusercontent.com/673121/107078018-53f05b80-67b3-11eb-9b5e-d148944d3d72.png)

and _nothing_ at the bottom:

![image](https://user-images.githubusercontent.com/673121/107078096-75514780-67b3-11eb-914d-64dfba2d1d65.png)

So having the extension 'swallows' their display which shows total

[2021-02-05 22:02] Naramsim commented on #86
Yep, I confirm. Probably they changed the DOM. I'll look into it tomorrow.

[2021-02-06 02:08] ian-pvd commented on #86
Looks like an issue here:
![Screen Shot 2021-02-05 at 21 02 59](https://user-images.githubusercontent.com/1553012/107105755-e87bad80-67f5-11eb-8453-46bf5a684ca9.png)

just glanced under the hood but might need to change `document.getElementsByClassName('day')` => `document.getElementsByClassName('ContributionCalendar-day')` ? Idk, I'm not looking at source.

![Screen Shot 2021-02-05 at 21 07 33](h

[2021-02-06 23:59] Naramsim commented on #86
@ian-pvd, almost got it :)

It was

[code]

[2021-02-07 00:05] Naramsim commented on #86
Chrome already made the new version public. I also submitted it to the FF addons marketplace.

[2021-02-07 01:37] eddelbuettel commented on #86
I see it in the Chrome app store, my instance is still at the old one. I'll just wait a bit.

Thanks so much as always!

[2021-02-07 03:28] ljharb commented on #86
After updating and restarting Chrome, today's extension update seems to be working again. Thank you!

[2021-02-07 13:44] eddelbuettel commented on #86
Back up now to working as usual.  Magic.  Yay.  :cake:   Many thanks for looking into it.

I'll close it as we're thankfully back to normal.

[2021-02-07 13:44] #86 closed

[2021-02-07 19:48] Naramsim commented on #85
@chocolateboy I submitted a new version for FF. Is the extension working as expected?

[2021-02-07 19:55] chocolateboy commented on #85
Yes, it works. Thanks!

[2021-02-07 19:55] #85 closed

[2021-03-21 05:13] V-aathira opened #87 "couldn't support dark mode"
Since the github has launched its feature of dark mode, add support to dark mode

[2021-03-21 05:14] #87 closed

[2021-03-25 21:07] ljharb opened #88 "Streak broken?"
As of today or yesterday, "current streak" seems to only be calculating based on the visible squares.

For example, when i go to https://github.com/ljharb?tab=overview&from=2021-03-01&to=2021-03-25, it shows me a current streak of "0 days"; when i go to https://github.com/ljharb, it shows me a current streak of 369 days. Neither is correct.

[2021-03-25 21:33] Naramsim commented on #88
Hi @ljharb, the streak is calculated backward starting from the `rightest` day. In your first example, the rightest day is Dec 31 2021, which isn't yet happened. So I guess it's normal we calculate 0 days for that example.

Regarding your second example, I see your current streak equal to 109 days. Take a look below:

![ljharb](https://user-images.githubusercontent.com/8996268/112546638-f55e5b80-8

[2021-03-25 21:36] Naramsim commented on #88
If you had a full green calendar, then for you, @ljharb, the longest streak would have been calculated starting from 2020-03-22.

Does it seem right?

[2021-03-25 21:42] Naramsim commented on #88
Anyway, I think that the ability Github implemented about checking past years and thus rendering the calendar, broke the extension in case someone had a very long streak.

[2021-03-25 21:55] Naramsim commented on #88
Yeah, I thought about it. So, if you request through the UI a different time period && you had a full streak. Then your full-streak can be broken if in the new rendered calendar there are 'holes'. So to fix this behavior I need to only update our database (a Github gist) when the default view is shown to the user. That is when the query string of the URL doesn't contain any `to` or `from`.

I'll t

[2021-03-25 21:56] ljharb commented on #88
Hmm - I definitely have contributions on that day, a PR review - on mine, the square shows filled in. Github does sometimes blank out days temporarily, i have no idea why.

Similarly, I have contributions on 2020-03-21 (also 2 PR reviews). My streak goes back to 2014.

Perhaps these anomalies are just on github's side.

[2021-03-25 21:57] ljharb commented on #88
Thanks!

Contributions in the past can happen any time, but it seems reasonable to assume that anything more than a year old is "frozen", or at least cached aggressively.

[2021-03-25 21:59] Naramsim commented on #88
Nono, those anomalies are on Github and they were reflected in our database.

Can you please write your starting date down? If you don't remember I have to dig it up, but it's possible. Anyway, up until Github doesn't show that square green, I can't update your longest streak.

[2021-03-25 22:00] ljharb commented on #88
it's 2014-04-16.

[2021-03-27 04:19] g-harel commented on #88
May be a separate thing, but I'm also seeing a much shorter streak than before. It's suspiciously stopping almost exactly a year ago on my profile.

[2021-03-29 05:43] ljharb commented on #88
Today, a few days later, it's still saying my streak ends almost exactly a year ago. The implication is that it's not counting beyond a year anymore.

[2021-03-29 08:32] Naramsim commented on #88
For you @ljharb this is the case. Because you have a hole in the calendar

[2021-03-29 15:33] ljharb commented on #88
@Naramsim a hole that moves one day every day? Now it says it goes back to the 29th, and the (incorrect) hole you saw was on the 21st.

[2021-03-29 23:36] eddelbuettel opened #89 "Streak count broken again by GH?"
Thanks again for fixing #86 last month. It looks like they are at it again as I back to 366 (== one year, rolling) rather that the high two-thousands it should show.

Can you work your magic again and catch up with whatever they changed?

[2021-03-30 07:21] Naramsim commented on #89
Yes, we have another issue for that. I'll try

[2021-03-31 22:34] eddelbuettel commented on #89
Should I just purge and re-install?  Did it "merely" forget to start date (years ago in my case) as I am now at 368 days :-/

[2021-04-01 10:45] Naramsim commented on #89
When I will release the fix I will make sure to update your starting date

[2021-04-13 16:28] spences10 commented on #88
Same here, looks like it's only doing it for the last 366 days?
![image](https://user-images.githubusercontent.com/234708/114587558-b1a29780-9c7d-11eb-81e3-bb05261a06b4.png)

[2021-04-13 17:27] Naramsim commented on #88
Hi @spences10 Yesterday I released on Chrome and FF a _potential_ fix for the bug. In the meantime, I reverted your old start contribution date to what it was.

I believe that there are still browsers that are using the old version of this extension, and when one loads your profile it could change the starting date back to Apr 2020. I guess we need to wait a bit and see if the error still happens.

[2021-04-13 18:51] spences10 commented on #88
I'm using MS Edge, shall I try uninstall and reinstall?

[2021-04-13 18:54] spences10 commented on #88
I just installed the Chrome version and it's working now 😊
![image](https://user-images.githubusercontent.com/234708/114605564-1ec02800-9c92-11eb-9d7c-89b0185c9027.png)

[2021-04-13 19:26] ljharb commented on #88
@Naramsim how do i ensure the extension is updated? i'm still seeing 366 days back (i have v1.14.14)

[2021-04-13 19:44] Naramsim commented on #88
@ljharb I updated your starting date but as soon as I updated it, it got reverted.

I'll try tomorrow. 1.14.14 is the latest version.

Also, your streak will only display for not logged-in users. I noted that the 'hole' is present if you are logged in and isn't any more present if you log out. Github itself has probably a bug in building the calendar.

[2021-04-13 19:45] Naramsim commented on #88
Hi @spences10, in Edge how do you install this extension? Is there a marketplace?

[2021-04-13 19:51] ljharb commented on #88
@Naramsim in my specific case, i only ever view my streak as a logged-out user, for the exact reason that i want to see how others see it :-) github definitely has many such bugs at times.

Thanks, I'll try again tomorrow. How can i ensure that I have the newest version of the extension?

[2021-04-13 20:31] Naramsim commented on #88
Chrome, in theory, auto-updates everything as soon as possible.

[2021-04-14 18:26] eddelbuettel commented on #89
Thanks for fixing it again!

[2021-04-14 19:14] Naramsim commented on #89
Hi @eddelbuettel, I hope this fix will continue to work.

[2021-04-15 22:02] ljharb commented on #88
@Naramsim any chance you could try resetting my start date now? :-)

[2021-04-16 17:44] Naramsim commented on #88
@ljharb, I rolled out a new version, fixing the issue also for your profile.

I'd wait 1 or 2 days, sorry.

[2021-04-16 18:36] ljharb commented on #88
Thanks! I’ll check in 48 hours, and I’ll try not to refresh that page in chrome until then :-)

[2021-04-16 19:23] Naramsim commented on #88
Well, the chrome extension is already deployed. `.15` is the newer version, you can check if it's installed by going to the 3-dots menu and select more tools -> extensions.

[2021-04-16 19:31] ljharb commented on #88
I'm on that version - does that mean it's safe to refresh?

[2021-04-16 19:45] Naramsim commented on #88
yes hahah

[2021-04-16 19:53] ljharb commented on #88
yayyyyyy thank you!
<img width="753" alt="Screen Shot 2021-04-16 at 12 53 01 PM" src="https://user-images.githubusercontent.com/45469/115077339-bbf9a700-9eb2-11eb-99df-3cbb780dec14.png">

[2021-04-16 19:53] #88 closed

[2021-04-18 05:08] LeonTG commented on #89
@Naramsim Idk if this is the right place for this, but is it possible to fix my date as well?

Mine got reset back to a year too with this bug when it should be over 5 and a half years long

[2021-04-18 16:01] Naramsim commented on #89
This is the right place!

It was 2015-09-12, am I right?

[2021-04-18 16:02] LeonTG commented on #89
@Naramsim Yeah that's correct

[2021-04-23 08:42] mojavelinux commented on #89
@Naramsim Mine was 2015-11-30. Could you update my start date as well? (Or is this something I should be able to set in the extension itself?)

[2021-04-23 12:41] Naramsim commented on #89
Once there was a way, a popup would even show, but now that functionality doesn't work anymore. So I'll do it manually later

[2021-04-23 16:17] mojavelinux commented on #89
Thanks for the info and for your time to make that update. I appreciate it!

[2021-06-21 19:01] spences10 opened #92 "Not showing streak again"
Referencing: https://github.com/Naramsim/GithubOriginalStreak/issues/89

Looks like this has stopped doing it's thing again.

Is this a known issue?

I've tried on Edge and Firefox and still showing 366 days as longest streak

[2021-06-21 21:25] Naramsim commented on #92
It seems only happening for you @spences10

Tomorrow I'll release a version that doesn't update the database file, so we won't have anymore these issues.

[2021-06-21 21:43] spences10 commented on #92
Oh! Is there anything I can do to debug it? I've tried uninstalling and reinstalling, and it's for both Firefox and Edge?

Is it related to my profile then do you think?

[2021-06-29 16:16] #83 closed

[2021-06-30 12:20] Naramsim commented on #92
Hi @spences10

Yesterday I released a version that fixes it on Chrome. 0.15.0 Today I'll release it on FF and Opera.

Anyway, the issue was caused by the Github API which truncates the list of files present in a Gist to 300 files. https://docs.github.com/en/rest/reference/gists#truncation

I thus changed the logic of the application. I transferred all the files here on this repo and made them read

[2021-07-04 05:29] spences10 commented on #92
sweet! I noticed it was working the yesterday, congratulations

[2021-07-04 05:29] #92 closed

[2022-03-18 18:15] fharper opened #96 "Any way to use a personal token to avoid API rate limit?"
Any way to use a personal token to avoid API rate limit? When using more than one Chrome extension that doesn't allow to use a personal token, when you spend a lot of time on GH, the rate limit is quickly reached: this would solved the problem if possible.

[2022-03-19 13:31] Naramsim commented on #96
Hi Frédéric, good issue. Surely I could implement a way to read the token from a UI input and store it in LS. But I don't have time..

Maybe I'll implement only the part of reading the token from LS and pass it to the http calls. But you'll have to add it manually to the LS.

Anyway, don't expect anything soon, at least from me

[2022-03-21 18:19] fharper commented on #96
@Naramsim: sounds good, thanks! If I have time I'll do a PR, but like you, it's a bit too busy right now!

[2022-03-30 08:04] Naramsim commented on #96
Hi @fharper, today I looked a bit deeper into this issue. Did you actually get rate-limited?

All the calls to Github's API are done only if necessary (if there is a chance the user has a calendar full of contributions) and they already use a read-only token I generated with a machine user.

[2022-03-30 16:33] fharper commented on #96
I do, but maybe it's not from your extension as I'm using 2-3 others which don't have the feature of using their own token: all others have that feature. In the end, it doesn't matter which extensions caused the limitations as once you are limited, yours cannot work :)

[2022-03-30 17:06] Naramsim commented on #96
Hmm, ok. Anyways I'm going to close this issue, since the extension is already using a token.

[2022-03-30 17:06] #96 closed

[2022-03-30 18:01] fharper commented on #96
Sounds good, I'll update my version with my token to prevent the issues I have. Thanks a lot for taking the time, I appreciate that :)